{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}

    <form action="/upload" method="post" name="upload" id="upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    {{data}}

    <div class="wrapper" style="  display: grid;">
        <div class="title text-white ">
        Register an account
        </div>
        <form action="/register" method="post" class="text-center ps-5 pe-5">
        <div class="field">
            <input autocomplete="off" style="background-color: #333; color: white;" autofocus class="" id="email" name="email" placeholder="" type="text" required>
            <label class="text-white" style="background-color: #333;">Email Address</label>
        </div>
        <div class="field">
            <input class="" id="username" style="background-color: #333; color: white;" name="username" type="text" required>
            <label class="text-white" style="background-color: #333;">Username</label>
        </div>
        <div class="field">
            <input class="" id="password" style="background-color: #333; color: white;" name="password" type="password" required>
            <label class="text-white" style="background-color: #333;">Password</label>
        </div>
        <div class="field">
            <input class="" style="background-color: #333; color: white;" id="confirmation" name="confirmation" type="password" required>
            <label class="text-white" style="background-color: #333;">Password again</label>
        </div>
        
        <div class="field" >
            <input type="submit" style="margin-top: 10px;">
        </div>
        <div class="info-error pt-4">
                <p>{{data}}</p>
        </div>
        
        </form>
    </div>

{% endblock %}
